body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.choose-one {
    margin-bottom: 20px;
}

.box {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    width: 45%;
}

.box:hover {
    background-color: #e67e22;
}

#take-quiz-section .question,
#take-quiz-section .option,
#source-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e67e22;
    background-color: #fff;
}

#take-quiz-section .option:hover {
    background-color: #e67e22;
    color: #fff;
}

#take-quiz-section .selected {
    background-color: #e67e22;
    color: #fff;
}

#take-quiz-section .submit-button,
#create-quiz-section .submit-button,
#create-quiz-section button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

#create-quiz-section button:hover {
    background-color: #e67e22;
}

